




<div>
    <p>
        Jimmy Wales
Wikipedia is an encyclopedia that anyone can edit, and tens of millions already have!

Wikipedia's purpose is to benefit readers by acting as a widely accessible and free encyclopedia that contains information on all branches of knowledge. Hosted by the Wikimedia Foundation, Wikipedia consists of freely editable content whose articles also provide numerous links to guide readers to related pages with more information.

Written collaboratively by largely anonymous volunteers, anyone with Internet access and in good standing can write and make changes to Wikipedia articles (except in limited cases where editing is restricted to prevent disruption or vandalism).

Since its creation on January 15, 2001, Wikipedia has grown into the world's largest reference website, attracting over a billion visitors monthly. It currently has more than fifty-nine million articles in more than 300 languages, including 6,554,472 articles in English with 120,587 active contributors in the past month.

The fundamental principles of Wikipedia are summarized in its Five Pillars. The Wikipedia community has developed many policies and guidelines, with which familiarity is not a requirement for contributing.

Anyone is allowed to add or edit words, references, images, and other media here. What is contributed is more important than who contributes it. To remain, the content must be free of copyright restrictions and contentious material about living people. It must conform with Wikipedia's policies, including being verifiable against a published reliable source. Editors' opinions and beliefs and unreviewed research will not remain. Contributions cannot damage Wikipedia, as its software allows easy reversal of errors, and many experienced editors watch to ensure that edits are improvements. Begin by simply clicking the Edit button at the top of any editable page!

Wikipedia differs from printed references in important ways. It is continually created and updated, with articles on new events appearing within minutes rather than months or years. Because everyone can help improve it, it has become more comprehensive than any other encyclopedia. In addition to the quantity of its articles, its contributors work on improving their quality, removing and repairing misinformation and other errors. Over time, articles tend to become more comprehensive and balanced. Because anyone can edit them, they may contain undetected misinformation, errors, or vandalism. Readers who recognize this can obtain valid information (see Wikipedia:Researching with Wikipedia) and fix the articles. Given enough eyeballs, all bugs are shallow!
    </p>
</div>