@{
    ViewData["Title"] = "Home Page";
}





<script>

    function doSomething()
    {
        fetch('url 1',{postdata}).then().then().catch()
        fetch('url 2',{postdata}).then().then().catch()
    }

    </script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button onClick="doSomething()">Change Seat</button>
