


<input type="number" placeholder="Enter From Account" class="form-control" />
<input type="number" placeholder="Enter To Account" class="form-control" />
<input type="number" placeholder="Enter Amount" class="form-control" />
<button class="btn btn-danger"> Transfer </button>